#nav{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#nav li{

	display: inline;
	padding: 15px;
	margin: 0px;
	font-size: 25px;}
	body{
	background: url(christopher-burns-194367.jpg) no-repeat center center fixed;

background-size: cover;

text-align: center;
font-family: Snell Roundhand, Helvetica, sans-serif;
color: blue; 
}

h1{
	font-size: 65px;
margin-top: 20%;}